p {
  color: #666666;
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
}
h1 {
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: #ebe3c3;
}

#container {
  background-color: #fff;
  width: 80%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}

#nav {
  padding: 0;
    list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display:block;
  color: #fff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #7a991a;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: black;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
}

#footer {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font: 0.8em;
  border-top: 1px solid black;
}
.footer {
  display: flex;
  justify-content: space-around;
}
.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 2;
}
.flex-container {
  display: flex;
  flex-direction: column;
}

img{
  border: none;
}
