p {
  color: #666666;
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
}
h1 {
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: #ebe3c3;
}

#container {
  background-color: #fff;
  width: 80%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
}

#nav {
  padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display:block;
  color: #fff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #7a991a;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: black;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
}

#footer {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font: 0.8em;
  border-top: 1px solid black;
}

img{
  border: none;
}
@media (min-width: 600px) {
  #nav {flex-direction: row;
  justify-content: center;}

}
.title {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-flow: column;
}

.profilepicture img {
  /*visibility: hidden;*/
  display: none;
}

.pullquote {
  display: none;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .profilepicture img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .profilepicture {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
    grid-area: e;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}
