/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	height: 300px;
	flex-wrap: nowrap;
}

.item {
	flex-basis: 500px;
	flex-grow: 1;
	flex-shrink: 1;
}

.item-2 {
	flex-shrink: 3;
}
